name: C

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        folder: ["aoc-2025-02-c", "aoc-2025-03-c", "aoc-2025-05-c", "aoc-2025-10-c"]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up C environment
      run: sudo apt update && sudo apt install build-essential
    - name: Run tests
      working-directory: ./${{ matrix.folder }}
      run: FLAGS="VERBOSE UNIT_TEST" make test
